h1 {
  font-size: medium;
}

.flexLinks {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* 💻 Petit écran / Laptop (de 769px à 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .flexLinks {
    width: 10vw;
  }
}

/* 🖥 Grand écran / Desktop (plus de 1024px) */
@media (min-width: 1025px) {
  .flexLinks {
    width: 10vw;
  }
}
