<div class="login-container">
  <h2>Connexion</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginFlex">
    <div>
      <label for="username">Nom d'utilisateur : </label>
      <input id="username" type="text" formControlName="username" required>
    </div>
    <div>
      <label for="password">Mot de passe : </label>
      <input id="password" type="password" formControlName="password" required>
    </div>


    <button class="button-18" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
  </form>

  @if (errorMessage) {
      <p class="errorMessage">{{ errorMessage }}</p>
    }
</div>
