@import '../../colors.scss';



.loginFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  padding-top: 5vh;
  font-size: 5vw;
  font-weight: 300;
}

.logo_login {
  width: 20vw;
  height: auto;
}

h2 {
  padding-left: 2vw;
}

.login-container {
  display: flex;
  flex-direction: column; /* Les éléments sont empilés verticalement */
  justify-content: center; /* Centre les éléments verticalement */
  align-items: center;
}

.errorMessage {
  height: 20vh;
  padding-top: 5vh;
  font-size: 5vw;
  font-weight: 300;
  color: rgb(168, 1, 1);
  padding-left: 5vw;

}

.button-18 {
  align-items: center;
  background-color: $text;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

@media (max-width: 576px) {
  .logo_login {
    width: 50vw;
    height: auto;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .logo_login {
    width: 20vw;
    height: auto;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .logo_login {
    width: 20vw;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .logo_login {
    width: 30vw !important;
    height: auto;
  }

  .loginFlex {
    justify-content: center;
    padding: 0;
  }

  input {
    height: 50px; /* Hauteur du champ */
    padding: 10px; /* Espace interne */
    font-size: 1.2rem; /* Taille du texte */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
  }

  input:focus {
    border-color: $third; /* Couleur de la bordure au focus */
    outline: none; /* Supprime le contour par défaut */
  }

  .padding {
    margin-bottom: 5vh;
  }
}
