@import '../../colors.scss';

.admin-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30vw;
  z-index: 1;
}

.logout>i {
  color: rgb(168, 1, 1);
  padding: 1.5vh;
  font-size: large;
}

@media (max-width: 576px) {
  .admin-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30vw;
  }
}

