<div class="container-ajouter center">
@if (!previewUrl) {
  <button (click)="fileInput.click()" class="button-ajouter">Importer une photo</button>
  <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
}

@if (errorMessage) {
  {{ errorMessage }}
}


@if (previewUrl) {
  <div class="previewImageCenter">
  <p>Ajouter cette image ?</p>
  <img [src]="previewUrl" alt="Aperçu de l'image"/>
  <div class="rowSpace">
  <button (click)="annuler()" class="button-ajouter color-dark">Annuler</button>
  <button (click)="onValidate()" class="button-ajouter">Valider</button>
</div>
</div>
}
</div>
