<app-header></app-header>

<div class="bijoux">
  @if (!bijoux) {
    <div> Pas de créations en ligne</div>
  }
  @if (bijoux) {
  @for (bijou of bijoux; track bijou.id) {
  <div class="card">
    <img [src]="displayBijouImage(bijou.img)" alt="Image de {{ bijou.nom }}" width="50" (click)="ouvrirImage(displayBijouImage(bijou.img))" width="300" height="300" loading="lazy"/>
    <h2>{{ bijou.id }}</h2>
  </div>

  }
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1" class="button-ajouter">Précédent</button>
    <span>Page {{ currentPage }} / {{ totalPages() }}</span>
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages()" class="button-ajouter">Suivant</button>
  </div>
  }
</div>

@if (imagePleineEcran) {
  <div class="modal" (click)="fermerImage()">
    <img [src]="imagePleineEcran" class="modal-content">
  </div>
}
